* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: #D6D6D6;
  color: #1a1a1a;
  width: 95%;
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.page-header {
  box-sizing: border-box;
  color: #1a1a1a;
  font-size: 1.3rem;
  border-bottom: 1.5px solid #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-color: #e2dbdd; */
  width: 100%;
  z-index: 10;
  padding: 0;
  margin-bottom: 2vh;
}

.content {
  width: 100%;
  max-height: 80vh; /* 填满剩余屏幕高度 */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 内容超出时自动滚动 */
  box-sizing: border-box;
}


.pin {
  height: 70px;
  display: block;
}

.new-item-form {
  font-size: 1.5rem;
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  border: 1px solid #1a1a1a;
  /* border-radius: 1.2rem; */
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #E9DCD3;
}

.list-form {
  overflow: auto; 
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  gap: 0.5rem;
  padding: 1.2rem;
  height: 100%;
  border: 1px solid #1a1a1a;
  /* border-radius: 1.2rem; */
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #DA6343;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.4rem 0.4rem;
  /* border-radius: 50px; */
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background:#222;
}

.btn.btn-danger {
  background: #1a1a1a;
  color: #DA6343;
  padding: 6px 7px 7px 5px;
  border: none;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: #353535;
}

.new-item-form input {
  outline: none;
  border: 1px solid #1a1a1a;
  background: #e2dbdd;
  border-radius: 0px;
  padding: 0.4rem 0.4rem;
  color: #1a1a1a;
  font-weight: 400;
  font-size: 1rem;
}

.new-item-form input:focus {
  border: 1px solid #877f7b;
}

.header {
  font-size: 1.5rem;
  display: flex;
  margin: 0;
}

li{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #DA6343;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li:has(input:checked) p {
  color: #1a1a1a;
 text-decoration: line-through;
 display: flex;
 flex-grow: 1;
  white-space: normal;
  word-wrap: break-word;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: #e2dbdd;
  border: 1px solid #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important; 
  flex-shrink: 0;
}

.list li label:hover::before {
  background: #e2dbdd;
  text-decoration: none !important; 
  flex-shrink: 0;
}

.list li:has(input:checked) label::before {
  content: "✔";
  background: #E9DCD3;
  color: #1a1a1a;
  font-size: 0.75rem;
  font-weight: bold;
  flex-shrink: 0;
}

.list li:has(input:checked) label:hover::before {
  background: #E9DCD3;
  flex-shrink: 0;
}

.footer {
  width: 100%;
  display: flex;
  padding: .8rem;
  justify-content: center;
  background-color: #e2dbdd;
  color: #1a1a1a;
  margin-top: 2vh;
  border: 1px solid #1a1a1a;
}

.btn.btn-clearall {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .page-header {
    font-size: 1.2rem;
  }
  .pin {
    height: 65px;
  }
}

/*  Dark mode  */
/* ________________________________ */

body.dark-mode {
  background: #1a1a1a;
}

body.dark-mode .page-header {
  color: #E2DBD5;
  border-bottom: 1.5px solid #E2DBD5;
}

body.dark-mode .new-item-form{
  background-color: #2C2D31;
  color: #E2DBD5;
  border-color: #E2DBD5;
}

body.dark-mode .list-form {
  background-color: #347064;
  color: #E2DBD5;
  border-color: #E2DBD5;
}

body.dark-mode .new-item-form input {
  background: #3F4045;
  color: #E2DBD5;
  border-color: #E2DBD5;
}

body.dark-mode .btn.btn-danger {
  background: #E2DBD5;
  color: #347064;
}

body.dark-mode .btn:focus-visible {
  background:#E2DBD5;
}

body.dark-mode .footer {
  background-color: #38393f;
  color: #E2DBD5;
  border-color: #E2DBD5;
}

body.dark-mode .list li:has(input:checked) p {
 color: #f5f5f5;
}

body.dark-mode .btn {
  background-color: #E2DBD5;
  border-color: #E2DBD5;
  color: #2C2D31;
}

body.dark-mode .btn:hover {
  background:#f6f0eb;
}

body.dark-mode .list {
  border-left: 2px solid #347064;
}