* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: #f2cce3;
  color: #361a30;
  width: 95%;
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
}

html {
  overflow: hidden;
}

.page-header {
  box-sizing: border-box;
  color: #361a30;
  font-size: 1.3rem;
  border-bottom: 1.5px solid #361a30;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-color: #e2dbdd; */
  width: 100%;
  z-index: 10;
  padding: 0;
  margin-bottom: 2vh;
}

.content {
  width: 100%;
  max-height: 80vh; /* 填满剩余屏幕高度 */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 内容超出时自动滚动 */
  box-sizing: border-box;
}

.pin {
  height: 70px;
  display: block;
}

.new-item-form {
  font-size: 1.3rem;
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.2rem;
  border: 1px solid #361a30;
  /* border-radius: 1.2rem; */
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: #E0551A; */
}

.list-form {
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  /* gap: 0.5rem; */
  padding: 1.2rem;
  height: 100%;
  border: 1px solid #361a30;
  /* border-radius: 1.2rem; */
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e0551a;
  color: #f2cce3;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  box-sizing: border-box;
}

.btn {
  background-color: #361a30;
  border: 1px solid #361a30;
  color: #f2cce3;
  font-size: 1rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.4rem 0.4rem;
  /* border-radius: 50px; */
  cursor: pointer;
  outline: none;
}

.btn.btn-danger {
  background: #361a30;
  color: #f2cce3;
  padding: 6px 7px px 5px;
  border: none;
}

.new-item-form input {
  outline: none;
  border: 1px solid #361a30;
  background: none;
  border-radius: 0px;
  padding: 0.4rem 0.4rem;
  color: #361a30;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.2;
}

.header {
  font-size: 1.3rem;
  display: flex;
  margin: 0;
}

li {
  width: 100%;
  display: flex;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  width: 100%;
  display: flex;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  opacity: 0.8;
}

.date-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #e0551a;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list li:has(input:checked) p {
  color: #361a30;
  text-decoration: line-through;
  display: flex;
  flex-grow: 1;
  white-space: normal;
  word-wrap: break-word;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: #f2cce3;
  border: 1px solid #361a30;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  flex-shrink: 0;
}

.list li:has(input:checked) label::before {
  content: "✔";
  background: none;
  color: #361a30;
  font-size: 0.75rem;
  font-weight: bold;
  flex-shrink: 0;
}

.marquee {
  /* padding: .8rem; */
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  gap: 1rem;
  color: #361a30;
  /* font-family: serif; */
}

.footer {
  width: 100%;
  display: flex;
  padding: 0.8rem;
  justify-content: center;
  /* background-color: #e2dbdd; */
  color: #361a30;
  /* margin-top: 2vh; */
  border: 1px solid #361a30;
  font-size: 0.9rem;
}

.btn.btn-clearall {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .page-header {
    font-size: 1.2rem;
  }
  .pin {
    height: 65px;
  }
}

/*  Summer mode  */
/* ________________________________ */

body.summer-mode {
  background: #eff3f4;
}

body.summer-mode .page-header {
  color: #334ed8;
  border-bottom: 1.5px solid #334ed8;
}

body.summer-mode .new-item-form {
  color: #334ed8;
  border-color: #334ed8;
}

body.summer-mode .list-form {
  background-color: #c0f0aa;
  color: #334ed8;
  border-color: #334ed8;
}

body.summer-mode .new-item-form input {
  color: #334ed8;
  border-color: #334ed8;
}

body.summer-mode .btn.btn-danger {
  background: #334ed8;
  color: #c0f0aa;
}

body.summer-mode .footer {
  color: #334ed8;
  border-color: #334ed8;
}

body.summer-mode .btn {
  background-color: #334ed8;
  border-color: #334ed8;
  color: #eff3f4;
}

body.summer-mode .list {
  border-left: 2px solid #c0f0aa;
}

body.summer-mode .list li:has(input:checked) p {
  color: #334ed8;
}

body.summer-mode .list li label::before {
  background: #eff3f4;
  border: 1px solid #334ed8;
}

body.summer-mode .list li:has(input:checked) label::before {
  background: none;
  color: #334ed8;
}

body.summer-mode .marquee {
  color: #334ed8;
}